<div class="about-container box-shadow--4dp">
  <h3>About Playtime Picks</h3>
  <hr>
  <p>
  Playtime Picks is an app for parents, grandparents, anyone to quickly find an activity to do with their kid!
  Easily find fun activities for how you're feeling by using the filter.
  If you have any great activities to share with others feel free to sign-up and add it to the list.
  You can also leave comments on other activities on this site.
  We hope we can help you pick the right playtime activity just for you and your kid!
  </p>
</div>
