<!-- Create Activity Form -->
<div class="activity-form box-shadow--4dp">
  <form  ng-submit="vm.createActivity()">
    <p class="header-font">Add an Activity</p>

    <div> Title: <input class="title-field" type="text" ng-model="vm.activityData.title"> </div>
    <br>
    <table id="radio-table">
      <tr>
        <td>I want to: </td>
        <td> <input type="radio" ng-model="vm.activityData.at_home" ng-value="true"> Stay at Home </td>
        <td> <input type="radio" ng-model="vm.activityData.at_home" ng-value="false"> Go Out </td>
      </tr>
      <tr>
        <td>And then: </td>
        <td> <input type="radio" ng-model="vm.activityData.be_active" ng-value="true"> Let's be active </td>
        <td> <input type="radio" ng-model="vm.activityData.be_active" ng-value="false"> Take it easy</td>
      </tr>
      <tr>
        <td>My child is: </td>
        <td> <input type="radio" ng-model="vm.activityData.under_two" ng-value="true"> Under 2 y.o. </td>
        <td> <input type="radio" ng-model="vm.activityData.under_two" ng-value="false"> Over 2 y.o.</td>
      </tr>
    </table>
    <br>
    <span> Summary: </span>
    <textarea class="summary-field "type="text" ng-model="vm.activityData.summary"></textarea>
    <span ng-hide="vm.isLoggedIn()">
      <p id="login-warn"> Please <a ui-sref-active="active" ng-hide="vm.isLoggedIn()" ui-sref="login"> log in </a> to add activity! </p>
    </span>
    <button ng-show="vm.isLoggedIn()" ng-click="submit">Submit</button>
  </form>
</div>
