<!-- Activities List -->
<div class="activities-container">
  <div class="activity-list box-shadow--4dp animate-repeat" ng-repeat="activity in vm.activities | orderBy: '-fav_counter'| filter:{at_home:filter.at_home, be_active:filter.be_active, under_two:filter.under_two}">
    <div class="activity-info">
      <h4> <a ng-model="activity._id" value="{{activity._id}}">  {{activity.title}} </a> </h4>
      <span ng-click="vm.addFavCount(activity)">
        <i ng-class="{'glyphicon glyphicon-heart': liked, 'glyphicon glyphicon-heart-empty': !liked}" ng-click="liked=!liked"></i>
      <!-- <p> Favorite: {{activity.favorite}} </p> -->
       {{activity.fav_counter}}
      </span>
      <br>
      <p> Date Posted: {{activity.activity_date | date:"MM/dd/yyyy"}} </p>
      <p> <span ng-show="activity.at_home"> Stay at Home </span>       <span ng-hide="activity.at_home"> Go Out </span>
      |   <span ng-show="activity.be_active"> Let's Be Active </span>  <span ng-hide="activity.be_active"> Take it easy </span>
      |   <span ng-show="activity.under_two"> Under 2 y.o. </span>     <span ng-hide="activity.under_two"> Over 2 y.o. </span>
      </p>
    </div>
    <div class="activity-summary"> {{activity.summary}} </div>
    <!-- <hr>
    <div class="comment-container">
      <p>Comments:</p>
      <div class="comment-window box-shadow--2dp">
        <div ng-repeat="comment in activity.comments">
          <p>  {{comment.author.name}}: {{comment.body}} </p>
        <hr>
        </div>
      </div>
      <span ng-hide="vm.isLoggedIn()">
        <p id="login-warn"> Please <a ui-sref-active="active" ng-hide="vm.isLoggedIn()"ui-sref="login"> log in </a> to comment! </p>
      </span>
      <span ng-show="vm.isLoggedIn()">
        <input class="comment-input" type="text" ng-model="comment.body" placeholder="Add comment here...">
        <button ng-click="vm.addComment(activity, comment)">Post</button>
      </span> -->
    </div>
  </div>
</div>
