/*
font-family: 'Butterfly Kids', cursive;
font-family: 'Alegreya Sans', sans-serif;
*/

html{
  height: 100%;
}

body {
  padding: 20px;
  font: 16px 'Alegreya Sans', sans-serif;
  background:
  url(../images/playground.png) no-repeat center bottom fixed,
  linear-gradient(#efdaba, #97b34b) no-repeat center center fixed;
  min-height: 100%;

}

a {
  color: #00B7FF;
  cursor: pointer;
}

.affix {
    top:50px;
    right:0;
    position:fixed;
}

#container {
  width: 800px;
  margin: 0 auto;
}

#top-container {
  text-align: center;
  margin: 0 5px 20px;
}

.title {
  font-family: 'Butterfly Kids', cursive;
  font-size: 110px;
}

.activities-container {
  margin: auto;
  padding: 5px;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.activity-list {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  max-width: 600px;
  align-items: center;
  border-radius: 0 0 0.5em 0.5em;
  background-color: white;
}

.activity-list hr {
  margin-top: 20px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #eee;
}

.activity-info{
  text-align: center;
}

.activity-summary {
  border: 1px solid grey;
  width: 550px;
  margin: auto;
  padding: 5px;
}

.activity-summary p {
  line-height: 5px;
}

/*Comment Form*/
.comment-window {
  border: 1px solid grey;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 100px;
  max-height: 150px;
  overflow: auto;
  border-radius: 0 0 0.5em 0.5em;
  font-size: 14px;
  background-color: #FCFCF3;
}

.comment-container {
  margin: 5px;
  padding: 5px;
}

.comment-container hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}
.comment-input {
  width: 375px;
}

/*Add Activity Form*/
.activity-form {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  margin: auto;
  padding: 10px;
  width: 450px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.activity-form .title-field {
  width: 20em;
}

.activity-form textarea {
  margin: 7px;
}

.summary-field {
  max-width: 25em;
  max-height: 10em;
  min-width: 25em;
  min-height: 10em;
  background-color: #FCFCF3;
}

.activity-form button {
  margin-bottom: 5px;
}

/*Filter Form*/
.filter-container {
  margin: auto;
  padding: 5px;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.filter-form {
  text-align: center;
  border: 1px solid black;
  margin: 5px auto;
  padding: 5px;
  width: 400px;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.filter-form hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid black;
}

#radio-table, table, td {
  text-align: left;
  margin: auto;
  padding: 5px;
}

/*Log In Form*/
.login-form {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  max-width: 225px;
  align-items: center;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.login-form h4, input, button {
  margin: 5px;
}

/*Register Form*/
.register-form {
  border: 1px solid black;
  margin: 10px auto;
  padding: 5px;
  max-width: 225px;
  align-items: center;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.register-form h4, input, button {
  margin: 5px;
}

/*About Container*/
.about-container {
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  max-width: 600px;
  align-items: center;
  background-color: white;
  border-radius: 0 0 0.5em 0.5em;
}

.about-container h1 {
  font-family: 'Butterfly Kids', cursive;
}

.about-container hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid black;
}

/*Navigation Buttons*/
.nav-btn {
  background-color: #97b34b;
  border-radius: 0.5em;
  padding: 5px;
  margin: 4px;
  color: #efdaba;
  font-size: 20px;
  border: thin;
}

.active {
  background-color: #efdaba;
  color: #425517;
}

/*Misc Styling*/
#login-warn {
  color: red;
  text-align: center;
}

.header-font {
  font-family: 'Butterfly Kids', cursive;
  font-size: 40px;
}

.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}


/*FOR FLOATING FILTERBAR*/
/*#sticky {

}

#sticky.stick {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}*/
